
/*
______________________________________________

	DEFINITIONS DES CONSTANTES DE STYLES 
______________________________________________
*/

:root {

    /*
    Style sur les polices :
    -----------------------
    */
    /* --typo-generale: 'Fira Sans', 'Open Sans'; */

    /* Polices titres & sous-titre : */
    /* --typo-titres:  'Kanit', 'Exo 2'; */


    /*
    Style sur les couleurs :
    ------------------------
    */

    /* --navbar-brand-couleur: rgb(255, 166, 0); */
    --nav-link: white;
    --nav-link-active: rgb(255, 209, 5);


    /* Redéfinition des couleurs de Bootstrap :*/
    /* --bs-warning: rgb(255, 166,  0);
    --bs-warning-rgb: 255, 166, 0;

    --bs-warning-bg-subtle: rgb(250, 240, 100);
    --bs-warning-border-subtle: rgb(250, 240, 100); */

}



/*
________________________________________________

	DEFINITION DES PROPRIETES DES CLASSES CSS
________________________________________________
*/

/*
----------------------
PROPRIETES GENERALES :
----------------------
*/

/*
Définition du fond :
--------------------
*/
body {
    /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.95));*/
    background-image: linear-gradient(0deg, rgba(214, 236, 223, 0.15), rgba(5, 90, 8, 0.95));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
    background-attachment: fixed;
  }


  /*
PROPRIETES SUR LE HEADER & NAVBAR :
-----------------------------------
*/

/*
Définition du fond du header :
------------------------------
*/

.background-header {
    background-image: linear-gradient(0deg, rgba(243, 24, 170, 0), rgba(255, 255, 255, 0.95)), url('../backgrounds/bg2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*contain*/ 
  }

/*
Couleur des éléments de navigations :
-------------------------------------
*/

.navbar {
    font-size: 0.8em;
    color : red;
}

.nav-link-icon {
    font-size: 1.5em;
}

.nav-link {
    /*color: var(--nav-link);*/
    color : green;
}

.nav-link:hover, .dropdown-item:hover {
    color: var(--bs-warning);
}

.nav-link:active {
    color: black;
}


.navbar-nav .nav-item .active {
    color: var(--nav-link-active);
  }


.dropdown-item {
    font-weight: bold;
    color: black;
}

.dropdown-item:active {
    background-color: var(--navbar-brand-couleur);
    color: white;
}


.navbar-toggler {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}


/*
Customisation du tableau (Stage 1e année) :
-------------------------------------------
*/

table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(178, 244, 181);
  border-radius: 12px;
}

th, td{
  border: 2px solid rgb(23, 133, 6);
  padding: 10px;
}
th {
    text-align: center;
}

/*
Customisation des images :
-------------------------------------------
*/
img {
    display: block;       /* transforme l’image en bloc */
    margin: 0 auto;       /* marges automatiques = centrage */
  }


/*
Customisation des liens :
-------------------------------------------
*/

a {
    display: inline-block;
    padding: 10px 20px;
    background: #078217;
    color: white;
    text-decoration: none;
    border-radius: 6px;
  }

  a:hover {
    background: #29b965;
}